<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/search.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title>Movie Search Results</title>
</head>
<body>
<header th:insert="header.html :: header"> </header>
<br>
<h3 id="search-result-header">Results for "<span th:text="${keyword.getKeyword()}"></span>"</h3>
<br>
    <div th:if="${not #lists.isEmpty(movies)}" class="container-fluid" >
        <table id="table" class="table table-striped table-bordered" data-toggle="table" data-pagination="true">
            <thead class="thead-dark">
            <tr>
                <th data-width="200">Title</th>
                <th data-width="600"> Overview</th>
                <th data-width="200"> Release Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td data-width="200"><span th:text="${movie.getTitle()}">Title </span></td>
                <td data-width="600"><span th:text="${movie.getOverview()}">Overview</span></td>
                <td data-width="200"><span th:text="${movie.getRelease_date()}">Release Date</span></td>
            </tr>
            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>
</html>